<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nan.do.czk</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>CZK-KEYWORD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>SCRIPT-FILTER</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>SCRIPT-FILTER</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>COPY-RESULT</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nando Rossi</string>
	<key>description</key>
	<string>Get Czech National Bank exchange rates for invoices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CZK Exchange</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>toczk</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get CZK exchange rate</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CZK-KEYWORD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredversion</key>
				<string>5.0</string>
				<key>escaping</key>
				<integer>102</integer>
				<keyword>term</keyword>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfilename</key>
				<string>czk.sh</string>
				<key>scripttypename</key>
				<string>bash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>SCRIPT-FILTER</string>
			<key>version</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>COPY-RESULT</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>CZK-KEYWORD</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>SCRIPT-FILTER</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>COPY-RESULT</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://nan.do</string>
</dict>
</plist>